<form class="forms">
  <h4>Login</h4>
  <div class="form-group">
    <label>Email</label>
    <input 
    required 
    ngModel 
    name="emailLogin"
    #emailLogin="ngModel" 
    (change)="log(emailLogin)" 
    id="emailLogin" 
    type="text "
    class="form-control" >
    <div class="alert alert-danger" *ngIf="emailLogin.touched && !emailLogin.valid">
      <div *ngIf="emailLogin.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input 
    required 
    ngModel 
    name="passwordLogin"
    #passwordLogin="ngModel" 
    (change)="log(passwordLogin)"  
    id="passwordLogin"
    type="password"
    class="form-control">
    <div class="alert alert-danger" *ngIf="passwordLogin.touched && !passwordLogin.valid">
      <div *ngIf="passwordLogin.errors.required">Password is required</div>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Sign In</button>
</form>