<form class="forms">
  <h4>Login</h4>
  <div class="form-group">
    <label for="emailLogin">Email</label>
    <input 
      required 
      ngModel 
      name="emailLogin"
      #emailLogin="ngModel" 
      id="emailLogin" 
      type="email"
      class="form-control">
    <div class="alert alert-danger" *ngIf="emailLogin.touched && !emailLogin.valid">
      <div *ngIf="emailLogin.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordLogin">Password</label>
    <input 
      required 
      ngModel 
      name="passwordLogin"
      #passwordLogin="ngModel"  
      id="passwordLogin"
      type="password"
      class="form-control">
    <div class="alert alert-danger" *ngIf="passwordLogin.touched && !passwordLogin.valid">
      <div *ngIf="passwordLogin.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <div *ngIf="emailLogin.invalid || passwordLogin.invalid ; else button_available">
      <button disabled class="btn btn-outline-primary">Sign In</button>
    </div>

    <ng-template #button_available>
      <button type="submit" (click)="userLogin(emailLogin.value, passwordLogin.value)" class="btn btn-primary">Sign In</button>
    </ng-template>

    <div class="alert alert-danger" role="alert" id="alertErrLogin">
      Wrong credentials!
    </div>
  </div>
</form>