.btnFeed {
    margin-bottom: 25px;
}

.listLogs {
    margin-bottom: 15px;
}

.btnGoToPost {
    margin: 5px 0 10px 0;
}

.shadow
{
    border: solid #BDBDBD 1px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
}

.badge-warning {
    color: white;
    background-color: #ffbf37
}