.posts {
    margin-bottom: 25px;
}

.postBody {
    text-align: center;
}

.addPost {
    margin-bottom: 30px;
}

.addPost label{
    margin-top: 15px;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}