
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <ng-container *ngFor="let post of data.docs">
        <div class="card ">
          <div class="card-body postBody">
            <h4 class="card-title">{{ post.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.dateCreated }}</h6>
            <p class="card-text">
                {{ post.content }}
            </p>
            <a href="#!" class="card-link">User: {{ post.user.name }}</a>
            <a href="#!" class="card-link">Email: {{ post.user.email }}</a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
