<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-primary topStrip">
  <h3>MEAN Social Network</h3>
</div>

<div class="container ">
  <div class="row">

      <div class="col-md-6">
        <form class="forms">
          <h4>Register</h4>
          <div class="form-group ">
            <label>Email</label>
            <input type="text" class="form-control" id="inputEmailRegister" placeholder="example@gmail.com">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" id="inputPasswordRegister">
          </div>
          <button type="button" class="btn btn-primary">Sign Up</button>
        </form>
      </div>

      <div class="col-md-6">
        <form class="forms">
          <h4>Login</h4>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="inputEmailLogin" placeholder="example@gmail.com">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" id="inputPasswordLogin">
          </div>
          <button type="button" class="btn btn-primary">Sign In</button>
        </form>
      </div>

  </div>
</div>