.backFeed {
    margin-bottom: 25px;
}

.postBody {
    margin-bottom: 25px;
}

.postContent {
    margin-top: 15px;
}

.commentSection {
    margin-top: 25px;
}

.commentBody {
    margin-bottom: 25px;
}

.postButtons button{
    margin: 10px 10px 0 0;
}

textarea {
    resize: none;
}

.editForm {
    margin-top: 25px;
    text-align: left;
} 

.commentButtons button {
    margin: 10px 10px 0 0;
}

.shadow
{
    border: solid #BDBDBD 1px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
}

.maringZero {
    margin-bottom: 0px;
}

.userInfo {
    margin-bottom: 5px;
}

#alertSucc {
    text-align: center;
    margin: 15px 0 0 0;
    display: none;
}

#alertErr {
    text-align: center;
    margin: 15px 0 0 0;
    display: none;
}
