.backFeed {
    margin-bottom: 25px;
}

.postBody {
    text-align: center;
}

.commentSection {
    margin-top: 25px;
}

.commentBody {
    margin-bottom: 25px;
}

.postButtons button{
    margin: 10px 10px 0 0;
}


textarea {
    resize: none;
}

.editForm {
    margin-top: 25px;
    text-align: left;
} 

.commentButtons {
    margin-bottom: 25px;
}

.commentButtons button {
    margin: 10px 10px 0 0;
}