
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="returnToFeed(); "class="btn btn-primary backFeed">< Feed</button>
        <div class="card posts">
          <div class="card-body postBody">
            <h4 class="card-title">{{ posts.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ posts.dateCreated | date:'dd/MM/yyyy HH:mm' }}</h6>
            <p class="card-text">{{ posts.content }}</p>
            <a class="card-link">User: {{ posts.user.name }}</a>
            <a class="card-link">Email: {{ posts.user.email }}</a>

            <form class="postButtons">
              <div *ngIf="posts.user.email == userEmail">
                <button type="button" class="btn btn-primary" (click)="toggleEditForm()">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deletePost()">Delete</button>
              </div>
            </form>

            <div *ngIf="edit == true">
              <form class="editForm">
                <h5>Edit Post</h5>
                <div class="form-group">
                  <label for="postTitleEdit">Title:</label>  
                  <input
                    required
                    ngModel
                    name="postTitleEdit"
                    #postTitleEdit="ngModel"  
                    type="text" 
                    class="form-control" 
                    id="postTitleEdit"
                    placeholder="{{ posts.title }}">
                  <label for="postContentEdit">Content:</label>  
                  <textarea 
                    required
                    ngModel
                    name="postContentEdit"
                    #postContentEdit="ngModel" 
                    class="form-control" 
                    rows="5" 
                    id="postContentEdit"
                    placeholder="{{ posts.content }}"></textarea>
                </div>
                <div class="form-group">
                  <div *ngIf="postTitleEdit.invalid || postContentEdit.invalid ; else button_available">
                    <button disabled class="btn btn-outline-primary">Publish</button>
                  </div>
              
                  <ng-template #button_available>
                    <button type="button" (click)="publishPost();"class="btn btn-primary">Publish</button>
                  </ng-template>
                </div>
              </form>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card addPost">
        <div class="card-body">
          <form>
            <h5>Add a new comment</h5>
            <div class="form-group">
              <label for="commentText">Comment:</label>  
              <textarea 
                required
                ngModel
                name="commentText"
                #commentText="ngModel" 
                class="form-control" 
                rows="3" 
                id="commentText"></textarea>
            </div>
            <div class="form-group">
              <div *ngIf="commentText.invalid ; else button_available">
                <button disabled class="btn btn-outline-primary">Publish</button>
              </div>
          
              <ng-template #button_available>
                <button type="button" (click)="publishComment();"class="btn btn-primary">Publish</button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 commentSection">
      <h5>Comments:</h5>
      <ng-container *ngFor="let comment of comments">
        <div class="card commentBody">
          <div class="card-body">
            <p class="card-text">{{ comment.text }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.dateCreated | date:'dd/MM/yyyy HH:mm' }}</h6>
            <a class="card-link">User: {{ comment.user.name }}</a>
            <a class="card-link">Email: {{ comment.user.email }}</a>
          </div>
        </div>
      </ng-container>
    </div> 
  </div>
</div>
