
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="returnToFeed(); "class="btn btn-primary backFeed">< Feed</button>

        <div class="list-group postBody shadow">
          <a class="list-group-item flex-column align-items-start" >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ post.title }}</h5>
              <small>{{ post.dateCreated | date:'dd/MM/yyyy HH:mm' }}</small>
            </div>
            <div class="form-group postContent">
              <p class="mb-1">{{ post.content }}</p>
            </div>
            <div class="form-group userInfo">
              <small>User: {{ post.user.name }}</small>
            </div>
            <div class="form-group userInfo">
                <small>Email: {{ post.user.email }}</small>
            </div>
            <form class="postButtons">
              <div *ngIf="post.user.email == userEmail">
                <button type="button" class="btn btn-primary btn-sm" (click)="toggleEdit( post._id )">Edit</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deletePost()">Delete</button>
              </div>
            </form>
            <div *ngIf="toggle == post._id">
              <form class="editForm">
                <h5>Edit Post</h5>
                <div class="form-group">
                  <label for="postTitleEdit">Title:</label>  
                  <input
                    required
                    ngModel
                    name="postTitleEdit"
                    #postTitleEdit="ngModel"  
                    type="text" 
                    class="form-control" 
                    id="postTitleEdit"
                    placeholder="{{ post.title }}">
                  <label for="postContentEdit">Content:</label>  
                  <textarea 
                    required
                    ngModel
                    name="postContentEdit"
                    #postContentEdit="ngModel" 
                    class="form-control" 
                    rows="5" 
                    id="postContentEdit"
                    placeholder="{{ post.content }}"></textarea>
                </div>
                <div class="form-group">
                  <div *ngIf="postTitleEdit.invalid || postContentEdit.invalid ; else button_available">
                    <button disabled class="btn btn-outline-primary">Confirm</button>
                  </div>
              
                  <ng-template #button_available>
                    <button type="button" (click)="editPost(postTitleEdit.value, postContentEdit.value);"class="btn btn-primary">Confirm</button>
                  </ng-template>
                </div>
              </form>
            </div>
          </a>
        </div>

    
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card addPost shadow">
        <div class="card-body">
          <form>
            <h5>Add a new comment</h5>
            <div class="form-group">
              <label for="commentText">Comment:</label>  
              <textarea 
                required
                ngModel
                name="commentText"
                #commentText="ngModel" 
                class="form-control" 
                rows="3" 
                id="commentText">
              </textarea>
            </div>
            <div class="form-group maringZero">
              <div *ngIf="commentText.invalid ; else button_available">
                <button disabled class="btn btn-outline-primary">Publish</button>
              </div>
          
              <ng-template #button_available>
                <button type="button" (click)="publishComment(commentText.value);"class="btn btn-primary">Publish</button>
              </ng-template>

              <div class="alert alert-success" role="alert" id="alertSucc">
                  Comment published with success!
              </div>

              <div class="alert alert-danger" role="alert" id="alertErr">
                Please fill the field required
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 commentSection">
      <h5>Comments:</h5>
      <ng-container *ngFor="let comment of comments">

          <div class="list-group commentBody shadow">
            <a class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{ comment.text }}</p>
                <small>{{ comment.dateCreated | date:'dd/MM/yyyy HH:mm' }}</small>
              </div>
              
              <div class="form-group">
                <small>User: {{ comment.user.name }}</small>
              </div>
              <div class="form-group">
                  <small>Email: {{ comment.user.email }}</small>
              </div>
              <form class="commentButtons">
                <div *ngIf="comment.user.email == userEmail">
                  <div class="form-group maringZero">
                    <button type="button" class="btn btn-primary btn-sm" (click)="toggleEdit( comment._id )">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteComment( comment._id )" >Delete</button>
                  </div>
                  
                  <div *ngIf="toggle == comment._id">
                    <form class="editForm">
                      <h5>Edit Post</h5>
                      <div class="form-group">
                        <textarea 
                          required
                          ngModel
                          name="commentContentEdit"
                          #commentContentEdit="ngModel" 
                          class="form-control" 
                          rows="5" 
                          id="commentContentEdit"
                          placeholder="{{ comment.text }}"></textarea>
                      </div>
                      <div class="form-group">
                        <div *ngIf="commentContentEdit.invalid ; else button_available">
                          <button disabled class="btn btn-outline-primary">Confirm</button>
                        </div>
                    
                        <ng-template #button_available>
                          <button type="button" class="btn btn-primary" (click)="editComment( comment._id, commentContentEdit.value )">Confirm</button>
                        </ng-template>
                      </div>
                    </form>
                  </div>
  
                </div>
              </form>
            </a>
          </div>
      </ng-container>
    </div> 
  </div>
</div>
